<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYpF7wZ1A7CHFh-wy1YF2M5bnqiv5HXNY</string>
	<key>GCM_SENDER_ID</key>
	<string>1024502274026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.indus.strings</string>
	<key>PROJECT_ID</key>
	<string>strings-205cd</string>
	<key>STORAGE_BUCKET</key>
	<string>strings-205cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024502274026:ios:6dcf0368db7106a7df8493</string>
</dict>
</plist>